p {
  margin: 0;
}

.instruction {
  height: auto;
  width: 700px;
  text-align: center;
  font-size: 30px;
  color: lightgreen;
  transform: translateY(50px);
}

.ball {
  height: 45px;
  width: 45px;
  background-color: #000000;
  border-radius: 100%;
  font-size: 30px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 400px;
  animation: godown 10s linear infinite;
  box-shadow: 0px 0px 30px lightcyan;
  /* 水平垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 消失动画 */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.box {
  border: 2px solid #ffffff;
  height: 600px;
  width: 900px;
  margin-top: 100px;
  padding-left: 20px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-color: #003b64;
  border-radius: 25px;
}

body {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  justify-items: center;
  background-color: black;
}
@keyframes godown {
  100% {
    top: 610px;
  }
  0% {
    top: -35px;
  }
}
.start_page {
  height: 400px;
  width: 700px;
  position: absolute;
  align-self: center;
  font-size: 20px;
  font-family: Courier;
  justify-items: center;
  align-items: center;
  display: grid;
  color: lightgreen;
}
li {
  list-style: none;
  /* padding: 10px; */
}
button {
  height: 80px;
  width: 400px;
  margin: 20px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 40px;
  border: 4px solid black;
}
button:hover {
  background-color: rgb(196, 194, 194);
  font-size: 35px;
  font-weight: bold;
}

.config {
  margin-top: 10px;
}

.result {
  background-color: azure;
  border: 2px solid black;
  height: 400px;
  width: 700px;
  padding: 30px;
  position: absolute;
  align-self: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: none;
  justify-items: center;
}
/* .result div {
  width: 700px;
} */

.result h3 {
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin: 10px 10px;
  line-height: 1.4;
}

.miss {
  background: linear-gradient(to right, red 0%, #28ff28 0%);
  border: 2px solid #ffffff;
  height: 20px;
  width: 850px;
  border-radius: 25px;
}

.score {
  height: 50px;
  width: 700px;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  /* display: none; */
}
